@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-size: 45px;
  margin: 10px 0;
}

h3 {
  font-size: 35px;
  margin: 10px 0;
}

h4 {
  font-size: 25px;
  margin: 10px 0;
}

h5 {
  font-size: 20px;
  margin: 10px 0;
}

p {
  font-size: 15px;
  margin: 10px 0;
  color: gray;
}

/* header part */

/* nav Section */
#nav {
  padding: 10px 0;
}

#nav .navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

#nav .navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

#nav .navbar a button {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  color: black;
  border: 2px solid black;
  font-weight: bold;
  cursor: pointer;
}

/* banner section */
#hero {
  background: url(./assets/Hero-bg.png);
}

#hero .heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  text-align: center;
  gap: 30px;
}

#hero .heroContent .heroImg {
  padding: 10px;
}

#hero .heroContent .heroImg img {
  width: 100%;
  height: 100%;
}

#hero .heroContent .herotext {
  padding: 10px;
  margin: 10px;
}

#hero .heroContent .herotext button {
  padding: 15px 25px;
  background-color: black;
  color: whitesmoke;
  border-radius: 10px;
  margin: 10px 0;
  font-weight: bold;
  border: 0;
  cursor: pointer;
}

/* main part */

/* development section  */
#development .container {
  margin: 50px auto;
  background-color: rgb(243, 239, 239);
  border-radius: 10px;
}

#development .course {
  width: 80%;
  margin: 50px auto;
}

#development .course .course-header {
  text-align: center;
  margin: 15px 0;
  padding: 15px 10px;
}

#development .course .course-header p {
  margin: 5px 0;
  padding: 5px 0;
  color: grey;
}

#development .course .courseItems {
  padding: 15px 0;
}

#development .course .courseItems .courseItem {
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 20px 0;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

#development .course .courseItems .courseContent {
  padding: 30px 20px;
}

#development .course .courseItems .courseContent h3 {
  font-size: 35px;
  padding: 10px 0;
  margin: 10px 0;
}

#development .course .courseItems .courseContent p {
  margin: 10px 0;
  padding: 10px 0;
  color: gray;
}

#development .course .courseItems .courseContent button {
  border: 2px solid black;
  background-color: whitesmoke;
  color: black;
  padding: 15px 25px;
  border-radius: 5px;
  margin: 20px 0;
  font-weight: bold;
}

#development .course .courseItems .courseImage img {
  width: 100%;
}

/* Inspiration section  */
#inspiration .inspirationBox {
  padding: 20px 0;
  margin: 20px 0;
}

#inspiration .inspirationBox .inspiration-header {
  text-align: center;
  margin: 15px auto;
  padding: 15px 10px;
  width: 80%;
}

#inspiration .inspirationBox .inspiration-header h2 {
  margin: 5px 0;
  padding: 5px 0;
  font-size: 45px;
}

#inspiration .inspirationBox .inspiration-header p {
  margin: 5px 0;
  padding: 5px 0;
  color: grey;
}

#inspiration .inspirationBox .inspiration-video {
  border: 1px solid grey;
  padding: 20px;
  border-radius: 5px;
}

#inspiration .inspirationBox .inspiration-video iframe {
  border-radius: 5px;
  width: 100%;
}

/* current target part */
#current-target {
  margin: 40px 0;
}

#current-target .current-targetbox {
  padding: 20px 0;
  margin: 20px 0;
}

#current-target .current-targetbox .current-target-header {
  text-align: center;
  margin: 15px auto;
  padding: 15px 10px;
  width: 80%;
}

#current-target .current-targetbox .current-target-items {
  margin: 10px 0;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#current-target .current-targetbox .current-target-item {
  border-radius: 5px;
  padding: 20px 15px;
  width: 33%;
  height: 350px;
}

#current-target .current-targetbox .current-target-item .current-target-img {
  padding: 5px 10px;
}

#current-target .current-targetbox .current-target-item .current-target-textbox {
  padding: 5px 10px;
  overflow: hidden;
}

#current-target .current-targetbox .current-target-item .current-target-textbox a {
  color: black;
  font-weight: bold;
}

/*next target part */
#next-target {
  margin: 40px 0;
}

#next-target .next-targetbox {
  padding: 20px 0;
  margin: 20px 0;
}

#next-target .next-targetbox .next-target-header {
  text-align: center;
  margin: 15px auto;
  padding: 15px 10px;
  width: 80%;
}

#next-target .next-targetbox .next-target-items {
  margin: 10px 0;
  padding: 10px 0;
}

#next-target .next-targetbox .next-target-item {
  border: 1px solid grey;
  border-radius: 5px;
  margin: 30px 0;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#next-target .next-targetbox .next-target-item .next-target-item-image {
  padding: 10px;
  padding-left: 20px;
  width: 30%;
}

#next-target .next-targetbox .next-target-item .next-target-item-image img {
  width: 50%;
  height: 50%;
}

#next-target .next-targetbox .next-target-item .next-target-item-text {
  padding: 10px;
  width: 70%;
}

#next-target .next-targetbox .next-target-item .next-target-item-text a {
  color: black;
  font-weight: bold;
}

/* support part */
#support {
  margin: 40px 0;
}

#support .supportbox {
  background: url(./assets/handshake.jpg),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-position: center center;
  border-radius: 10px;
  padding: 20px 0;
  background-size: cover;
  background-blend-mode: overlay;
}

#support .supportbox .support-textbox {
  text-align: center;
  margin: 15px auto;
  padding: 15px 10px;
  width: 80%;
  color: whitesmoke;
}

#support .supportbox .support-input-box {
  text-align: center;
  width: 80%;
  margin: 15px auto;
}

#support .supportbox input {
  border: 0;
  padding: 15px 25px;
  width: 70%;
  margin: 0 10px;
  border-radius: 10px;
  color: gray;
  font-size: 16px;
}

#support .supportbox button {
  border: 0;
  padding: 15px 25px;
  margin: 0 10px;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  border: 0;
  background-color: whitesmoke;
  font-size: 16px;
}

/* footer part */
#footer {
  background-color: rgb(243, 239, 239);
}

#footer .footer-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  gap: 20px;
}

#footer .footer-box .footer-iconbox a {
  text-decoration: none;
  color: whitesmoke;
  margin: 0 10px;
  padding: 15px;
  border-radius: 50%;
}

#footer .footer-box .footer-iconbox i {
  font-size: 25px;
}